[Desktop Entry]
Encoding=UTF-8
Name=Oregano electrical engineering tool
Name[ca]=Eina d'enginyeria elèctrica Oregano
Name[es]=Oregano, herramienta para la ingeniería electrónica
GenericName=Electrical engineering tool
GenericName[ca]=Eina d'enginyeria elèctrica
GenericName[es]=Herramienta para la ingeniería electrónica
Comment=Schematic capture and simulation of electronic circuits
Comment[ca]=Captureu esquemàtics i simuleu circuits electrònics
Comment[sv]=Kretsschemariting och simulering av elektriska kretsar
Comment[it]=Disegno e simulazione di circuiti elettrici
Comment[es]=Preparación de esquemáticos y simulación de circuitos eléctricos
TryExec=oregano
Exec=oregano
Icon=gnome-oregano.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Science;Education;Physics;
MimeType=application/x-oregano;
