[Desktop Entry]
Encoding=UTF-8
Name=Oregano
Comment=Schematic capture and simulation of electrical circuits
Comment[sv]=Kretsschemariting och simulering av elektriska kretsar
Comment[it]=Disegno e simulazione di circuiti elettrici
Comment[es]=Preparación de esquemáticos y simulación de circuitos eléctricos
Exec=oregano
Icon=gnome-oregano.svg
Terminal=false
Type=Application
Categories=Application;Scientific;
